In [4]:
# A dictionary of high schools and the type of school.Note: this is a list of dictionaries!
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

SyntaxError: invalid syntax (<ipython-input-4-0736a1adb349>, line 7)

In [6]:
for jackie in high_school_types:
    print (jackie)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [8]:
# A dictionary of high schools and the type of school. Note: this a list of schools!
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

for jackie in high_schools:
    print (jackie)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [9]:
# We can convert the list of high schools in Jupyter Notebook to a Pandas Series 
# will allow us to get information from this list.

# But in order to use this method, we first need to import the Pandas library as a dependency. 
# To import a dependency, we use import.

# Add the Pandas dependency.
import pandas as pd

In [10]:
# To create a Pandas Series, we'll use the pandas.Series() method from the Pandas library. 

# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [11]:
# This will create a Pandas Series for the list of high schools.

# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)

In [12]:
# To see the output, we need to retrieve it by calling the variable school_series, like this:
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [13]:
# A Pandas DataFrame is a two-dimensional labeled data structure, like a dictionary 
# with rows and columns of potentially different data types such as strings, integers, and floats (decimal point numbers), 
# where data is aligned in a table. 
# In essence, a Pandas DataFrame contains multiple Pandas Series, or lists. 
# Each column in the Excel file is a Series. 
# We can convert the data in this Excel file to a Pandas DataFrame using the pandas.DataFrame() method from the Pandas library.

In [14]:
# Convert a List of dictionaries to DataFrame
# A dictionary of high schools
# The column headers in the Excel file are the keys in the dictionary. 
# The value for each of the keys corresponds to a row in the Excel file.



high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [15]:
# Now we will convert the array, or list of dictionaries, to a DataFrame using: 

school_df = pd.DataFrame(high_school_dicts)

# To see the output
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [16]:
# We can also create the same DataFrame by adding each column as a list, or Series, to an empty DataFrame.
# Convert a list or Series to a DataFrame:

# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

# Note: The standard format for creating a key in a dictionary is to 
# put the key in single or double quotes and inside brackets, e.g.,  counties_dict["Arapahoe"] = 422829.

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [17]:
# Next, we Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [18]:
# Instead of using the dictionary name, 
# we'll use the name of the DataFrame and make it equal to the list, like this:

# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4