In [2]:




#1 List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
    
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [15]:
#2 List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [16]:
import pandas as pd

In [18]:
#3 Create a pandas Series from a list
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [19]:
#####4 Iterate through the school_series and print out each high school
print(school_series)

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [21]:
#5 A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [22]:
#6 Convert the array, or list of dicts. to DataFrame
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [26]:
#7 creating same DataFrame by adding each column as a list or Series to empty DataFrame
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [27]:
#8 Initialize a new DataFrame
schools_df = pd.DataFrame()

In [49]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id


# Print the DataFrame
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [35]:
####9 Skill drill 4.3.5 (Ask)
# Add the school_name list as "School Name" and the type_of_school list as "Type" to the schools_df DataFrame. Then print out the schools_df DataFrame.

In [45]:
#10 Create DataFrame by creating Python dict (4.3.5)

# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [46]:
####11 Skill drill 4.3.5 (Ask)
#Convert the dictionary high_schools_dict to a DataFrame.

In [47]:
#12To get the column names of a Dataframe(school_df)
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [53]:
#13 To get the indices of the DataFrame, use 

school_df.index

## When you run this cell, the output is a RangeIndexthat contains the first and last index value, as well as the "step=1," or how often the index increments. In this case, the index increments a value of 1 from the beginning index to the ending index.

RangeIndex(start=0, stop=5, step=1)

In [54]:
#14 To get the values of the DataFrame, use df.values
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)