In [1]:




# [1] List of high schools
# To print each high school using a for loop [4.3.4]

high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
    
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [6]:
# List of H.S
# To print each H.S. using a for loop (high_schools is variable)My example

high_schools = ["Hernandez H.S", "Figueroa H.S.", "Wilson H.S.", "Wright H.S."]

for school in high_schools:
    print(school)

Hernandez H.S
Figueroa H.S.
Wilson H.S.
Wright H.S.

In [8]:
# Dictionary of high schools and the type of school.

high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [11]:
# Iterate through the list of dictionaries and print out each high school and their types, 
# as shown in the following image (skill drill 4.3.4)

for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [13]:
# Dictionary of high schools and the type of school.

high_school_types = [{"H.S.": "Griffin", "Type":"District"},
                    {"H.S.": "Figueroa", "Type": "District"},
                    {"H.S.": "Wilson", "Type": "Charter"},
                    {"H.S.": "Wright", "Type": "Charter"}]

# Iterate through the list of dictionaries and print out each high school and their types, 
# as shown in the following image (skill drill 4.3.4)

for school8 in high_school_types:
    print(school)

{'H.S.': 'Wright', 'Type': 'Charter'}
{'H.S.': 'Wright', 'Type': 'Charter'}
{'H.S.': 'Wright', 'Type': 'Charter'}
{'H.S.': 'Wright', 'Type': 'Charter'}

In [22]:
# Add the Pandas dependency

import pandas as pd

In [23]:
# [2] List of high schools [4.3.5]

high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [24]:
#[2a] Create a pandas Series from a list (Note: Using list above #2)

school_series = pd.Series(high_schools)

In [26]:
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [19]:
#[2b] Iterate through the school_series and print out each high school(Using list on [2])

for school3 in school_series:
    print(school3)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [32]:
#[3] A List of dictionary of high schools
# The column headers in the Excel file are the keys in the dictionary. 
# The value for each of the keys corresponds to a row in the Excel file.



high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [33]:
#[4] Convert the array, or list of dicts. to DataFrame (Note: using list above [3])

school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [42]:
#[5] creating same DataFrame by adding each column as a list or Series to empty DataFrame
# Three separate lists of information on high schools (4.3.5)

school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [43]:
#[5a] Initialize a new DataFrame (we are using the info above in [5a])(4.3.5)

schools_df = pd.DataFrame()

In [44]:
#[5b] Add the list to a new DataFrame. (4.3.5) 
#(Here we just did one column, but can combine below code(on 7c) to do all three at once)

schools_df["School ID"] = school_id

# Print the DataFrame
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [45]:
#[5c] Skill drill 4.3.5 (using the info from above [5]
# Note: when it does not work, run above codes again
# Add the school_name list as "School Name" and the type_of_school list as "Type" to the schools_df DataFrame. Then print out the schools_df DataFrame.

schools_df["School name"] = school_name
schools_df["Type"] = type_of_school

# Print the DataFrame
schools_df

   School ID            School name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [58]:
#[6] Create DataFrame by creating Python dict Skill Drill (4.3.5)
# Create a dictionary of information on high schools.

# First,Initialize a new DataFrame for excersice below(4.35)

schools_df = pd.DataFrame()

#Then(This list was given)

high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [59]:
#[6b] Skill drill 4.3.5 (Ask)
#Convert the dictionary high_schools_dict to a DataFrame.

for Jackie in high_schools_dict:
    schools_df[Jackie] = high_schools_dict[Jackie]

In [60]:
#Skill Drill [4.3.5]

schools_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [47]:
#10 To get the column names of a Dataframe(school_df)

school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [53]:
#13 To get the indices of the DataFrame(school_df), use 

school_df.index

## When you run this cell, the output is a RangeIndexthat contains the first and last index value, as well as the "step=1," or how often the index increments. In this case, the index increments a value of 1 from the beginning index to the ending index.

RangeIndex(start=0, stop=5, step=1)

In [54]:
#14 To get the values of the DataFrame(school_df), use df.values

school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)